<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{global.dailyActivity}">Daily Activity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="#{global.dailyActivity}">Daily Activity</h1>

    <h4 th:text="#{global.id}"></h4>
    <p th:text="${dailyActivity.id}">ID</p>

    <h4 th:text="#{global.name}"></h4>
    <p th:text="${dailyActivity.name}">Name</p>

    <h4 th:text="#{global.description}"></h4>
    <p th:text="${dailyActivity.description}">Name</p>

    <h4 th:text="#{global.date}"></h4>
    <p th:text="${dailyActivity.date}">Name</p>

    <h4 th:text="#{dailyActivity.durationInHours}"></h4>
    <p th:text="${dailyActivity.durationInHours}">Name</p>

    <h4 th:text="#{dailyActivity.place}"></h4>
    <p th:text="${dailyActivity.place}">Name</p>

    <h4 th:text="#{dailyActivity.attendanceLimit}"></h4>
    <p th:text="${dailyActivity.attendanceLimit}">Name</p>

</body>
</html>